/*************/
/* Jumbotron */
/*************/
.jumbotron>.container-fluid {
  background-image: url(./images/background_molecules.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*************/
/* Header    */
/*************/
a.navbar-brand[href] {
  font-family: Crushed, Verdana, sans-serif;
  color: rgba(255,255,255,0.95);
}
.navbar {
  background-color: rgb(41, 43, 44);
  color: rgba(255,255,255,.7);
  margin-bottom: -48px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.navbar .nav-item {
  line-height: 41px;
}
.navbar a {
  color: inherit;
}
.navbar a:hover{
  color: rgba(255,255,255);
  text-decoration: none;
}
.navbar a.active, .navbar a.active button{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2)
}
.nav-item .form-group {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar .dropdown-toggle {
  background-color: rgb(41, 43, 44);
  color: rgba(255,255,255,.7);
  border: none;
}
.navbar .dropdown-menu {
  border-radius: 0px;
  background-color: rgba(41, 43, 44, 0.8);
}
.navbar .dropdown-item {
  color: rgba(255,255,255,.7);
  line-height: 25px;
}
.navbar .dropdown-item:hover {
  color: rgba(255,255,255);
  background-color: rgba(41, 43, 44, 0.0);
}

/* handling tiny screens */
@media (max-width: 767px) {
  .navbar-nav {
    margin-right: 0px !important;
  }
  .nav {
    margin-left: 0px !important;
  }
  .form-control, .btn-secondary{
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
  }
}
@media (max-width: 350px) {
  .input-group>.form-control{
    width: 120px;
  }
}

/**************/
/* Breadcrumb */
/**************/
.breadcrumb {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: rgba(110,146,120, 0.5);
}
.breadcrumb a {
  color: #fff;
}

/*************/
/* Inputs    */
/*************/
input, .form-control {
  border-radius: 0px;
  margin-left: 10px;
}


/*************/
/* Buttons   */
/*************/
button, .btn {
  border-radius: 0px;
}

/*************/
/* Math, Eqn */
/*************/
.MJXc-display {
  font-size: 89% !important;
  text-align: left !important;
}
.MJXc-display, .eqn {
  padding-left: 15px !important;
}


/***********/
/* General */
/***********/
body {
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 1.05rem;
}
.nobr {
  white-space: nowrap;
}
:focus, input:focus, .form-control:focus {
  outline: auto #fff 3px;
}
.list-group-item, .list-group-item a{
  color: rgb(110,146,120);
}
.list-group-item.active {
  background-color: #d57e76;
  border-color: #c95a4f;
}
