/*************/
/* Jumbotron */
/*************/
.jumbotron>.container-fluid {
  background-image: url(./images/background_molecules.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*************/
/* Header    */
/*************/
a.navbar-brand[href] {
  font-family: Crushed, Verdana, sans-serif;
  color: rgba(255,255,255,0.95);
}
.navbar {
  background-color: #292b2c;
  color: rgba(255,255,255,.7);
  margin-bottom: -48px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.navbar .nav-item {
  border: 2px solid #fff;
}
.navbar a {
  color: inherit;
}
.navbar a:hover{
  color: rgba(255,255,255);
}
.navbar a.active{
  color: #addbb9;
  text-shadow: 1px 1px 3px #fff;
}
.nav-item .form-group {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* handling tiny screens */
@media (max-width: 767px) {
  .navbar-nav {
    margin-right: 0px !important;
  }
  .nav {
    margin-left: 0px !important;
  }
  .form-control, .btn-secondary{
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
  }
}
@media (max-width: 350px) {
  .input-group>.form-control{
    width: 120px;
  }
}

/*************/
/* Inputs    */
/*************/
input, .form-control {
  border-radius: 0px;
  margin-left: 10px;
}


/*************/
/* Buttons    */
/*************/
button, .btn {
  border-radius: 0px;
}

/*************/
/* Math, Eqn */
/*************/
.MJXc-display {
  display: inline !important;
  font-size: 89% !important;
}
.MathJax_Preview, .eqn {
  padding-left: 15px;
}


/***********/
/* General */
/***********/
body {
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: 1.05rem;
}
.nobr {
  white-space: nowrap;
}
